In [2]:
import numpy as np

In [3]:
#1)
def count_changes(bool_arr):
  n = bool_arr.shape[0]
  y = np.roll(bool_arr,n-1)
  np.delete(bool_arr,[n-1])
  np.delete(y,[n-1])
  z = bool_arr | y
  z[bool_arr != False] = 0
  return np.sum(z)
x = np.array([0,1,0,0,1])
count_changes(x)

2

In [ ]:
#2)
def odd_pow(x):
  y = x[x % 2 != 0]**2
  return y

x = np.array([1,2,3,4,5,6])
y = odd_pow(x)
print(y)

[ 1  9 25]

In [ ]:
#3)
def sum_div5(x):
  return np.sum(x[x % 5 == 0])

x = np.array([1,5,12,15,20])
print(sum_div5(x))

40

In [ ]:
#4)
def sum_subseqs(x,n):
  l = x.shape[0]

  #
  a = x
  if l % n != 0:
    tmp = np.zeros(n-(l%n))
    a = np.append(x,tmp)
  #
  l = a.shape[0]
  b = np.reshape(a,(int(l/n),n))
  return np.sum(b,axis=1)

x = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
print(sum_subseqs(x,4))
x = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14])
print(sum_subseqs(x,4))

[10 26 42]
[10. 26. 42. 27.]

In [ ]:
#5)
def all_pos(x):
  x[x < 0] = 0

x = np.array([-3,-2,-1,0,1,2,3])
all_pos(x)
print(x)

[0 0 0 0 1 2 3]

In [ ]:
#6)
def num_ev(x):
  return np.sum(x % 2 == 0)

x = np.array([1,2,3,4,5,6,7])
print(num_ev(x))

3

In [49]:
#7)
x = np.array([1,2,3,4,5,4,2,1,2,3,2,1,2,3,4,5,6,5,4,3,2,1]) # i
n = x.shape[0]
y = np.roll(x,-1) # i+1
z = np.roll(x,1) # i-1
tmp1 = np.where(x > y,x,np.min(z))
tmp2 = tmp1[tmp1 > z]
print(tmp2)

[5 3 6]

In [32]:
#8)
x = np.array([1,2,3,4,5,6,7,8,9,10])
l = x.shape[0]
n = 4
sum = np.cumsum(x,axis=0)
shift = np.roll(sum,n)
shift[n-1] = 0
y = (sum - shift)/n
final = y[y>0]
print(final)

[2.5 3.5 4.5 5.5 6.5 7.5 8.5]

In [34]:
#9)
x = np.array([1,2,3,4])
x = x/np.sum(x)
print(x)

[0.1 0.2 0.3 0.4]

In [37]:
#10)
a = np.array([1,2,3])
b = np.array([4,5,6])
tmp1 = a-b
tmp1 = tmp1**2
e_dist = np.sqrt(np.sum(tmp1))
print(e_dist)

5.196152422706632

In [42]:
#11)
x = np.array([1,2,3,4,5])
y = np.roll(x,1)
y[0] = x[0]-1
qnt = np.sum(x-y < 0)
sorted = False
if qnt == 0:
  sorted = True
print(sorted)

True

In [54]:
#12)
x = np.array([10,7,4,3,2])
y = np.roll(x,-1)
y = y-x
y = np.delete(y,x.shape[0]-1)
print(y)

[-3 -3 -1 -1]

In [55]:
#13)
x = np.array([1,-2,3,4,-5,6,-7,8,-9])
sum_pos = np.sum(x[x>0])
print(sum_pos)

22

In [57]:
#14)
x = np.array([1,2,3,4,5,4,3,2,1])
y = x[::-1]
equal = np.array_equal(x,y)
print(equal)

True